In [26]:
import pandas as pd
import matplotlib.pyplot as plt


def filter_const_clients(filtered_df):
    filtered_df_1_5 = [filtered_df[(~filtered_df.iloc[:, 0:5].isna().any(axis=1))].agg('sum'),
                      filtered_df[filtered_df.iloc[:, 0:1].isna().all(axis=1) & (~filtered_df.iloc[:, 1:5].isna().any(axis=1))].agg('sum'),
                      filtered_df[(~filtered_df.iloc[:, 0:1].isna().all(axis=1)) & filtered_df.iloc[:, 1:2].isna().all(axis=1) & (~filtered_df.iloc[:, 2:5].isna().any(axis=1))].agg('sum'),
                      filtered_df[(~filtered_df.iloc[:, 0:2].isna().any(axis=1)) & filtered_df.iloc[:, 2:3].isna().all(axis=1) & (~filtered_df.iloc[:, 3:5].isna().any(axis=1))].agg('sum'),
                      filtered_df[(~filtered_df.iloc[:, 0:3].isna().any(axis=1)) & filtered_df.iloc[:, 3:4].isna().all(axis=1) & (~filtered_df.iloc[:, 4:5].isna().all(axis=1))].agg('sum')]
    res = pd.DataFrame(filtered_df_1_5, index=[segments["Постоянные"][i] for i in range(5)]).assign(total=lambda x: x[date_range[0]] + x[date_range[1]] + x[date_range[2]] + x[date_range[3]] + x[date_range[4]])    
    return res

def filter_leaving_const_clients(filtered_df):
    filtered_df_1 = [filtered_df[(~filtered_df.iloc[:, 0:4].isna().any(axis=1)) & filtered_df.iloc[:, 4:5].isna().all(axis=1)].agg('sum')]
    res = pd.DataFrame(filtered_df_1, index=[segments["Уходящие постоянные"][0]]).assign(total=lambda x: x[date_range[0]] + x[date_range[1]] + x[date_range[2]] + x[date_range[3]] + x[date_range[4]])
    return res
    
def filter_irregular_clients(filtered_df):
    filtered_df_1_16 = [filtered_df[filtered_df.iloc[:, 0:2].isna().all(axis=1) & (~filtered_df.iloc[:, 2:5].isna().any(axis=1))].agg('sum'),
                        filtered_df[filtered_df.iloc[:, 0:1].isna().all(axis=1) & (~filtered_df.iloc[:, 1:2].isna().any(axis=1)) & filtered_df.iloc[:, 2:3].isna().all(axis=1) & (~filtered_df.iloc[:, 3:5].isna().any(axis=1))].agg('sum'),
                        filtered_df[filtered_df.iloc[:, 0:1].isna().all(axis=1) & (~filtered_df.iloc[:, 1:3].isna().any(axis=1)) & filtered_df.iloc[:, 3:4].isna().all(axis=1) & (~filtered_df.iloc[:, 4:5].isna().all(axis=1))].agg('sum'),
                        filtered_df[(~filtered_df.iloc[:, 0:1].isna().all(axis=1)) & filtered_df.iloc[:, 1:2].isna().all(axis=1) & (~filtered_df.iloc[:, 2:3].isna().all(axis=1)) & filtered_df.iloc[:, 3:4].isna().all(axis=1) & (~filtered_df.iloc[:, 4:5].isna().all(axis=1))].agg('sum'),
                        filtered_df[(~filtered_df.iloc[:, 0:2].isna().any(axis=1)) & filtered_df.iloc[:, 2:4].isna().all(axis=1) & (~filtered_df.iloc[:, 4:5].isna().all(axis=1))].agg('sum'),
                        filtered_df[filtered_df.iloc[:, 0:3].isna().all(axis=1) & (~filtered_df.iloc[:, 3:5].isna().any(axis=1))].agg('sum'),
                        filtered_df[(~filtered_df.iloc[:, 0:1].isna().all(axis=1)) & filtered_df.iloc[:, 1:4].isna().all(axis=1) & (~filtered_df.iloc[:, 4:5].isna().all(axis=1))].agg('sum'),
                        filtered_df[filtered_df.iloc[:, 0:1].isna().all(axis=1) & (~filtered_df.iloc[:, 1:2].isna().all(axis=1)) & filtered_df.iloc[:, 2:4].isna().all(axis=1) & (~filtered_df.iloc[:, 4:5].isna().all(axis=1))].agg('sum'),
                        filtered_df[filtered_df.iloc[:, 0:2].isna().all(axis=1) & (~filtered_df.iloc[:, 2:3].isna().all(axis=1)) & filtered_df.iloc[:, 3:4].isna().all(axis=1) & (~filtered_df.iloc[:, 4:5].isna().all(axis=1))].agg('sum'),
                        filtered_df[(~filtered_df.iloc[:, 0:1].isna().all(axis=1)) & filtered_df.iloc[:, 1:3].isna().all(axis=1) & (~filtered_df.iloc[:, 3:5].isna().any(axis=1))].agg('sum'),
                        filtered_df[filtered_df.iloc[:, 0:1].isna().all(axis=1) & (~filtered_df.iloc[:, 1:4].isna().any(axis=1)) & filtered_df.iloc[:, 4:5].isna().all(axis=1)].agg('sum'),
                        filtered_df[(~filtered_df.iloc[:, 0:1].isna().all(axis=1)) & filtered_df.iloc[:, 1:2].isna().all(axis=1) & (~filtered_df.iloc[:, 2:4].isna().any(axis=1)) & filtered_df.iloc[:, 4:5].isna().all(axis=1)].agg('sum'),
                        filtered_df[(~filtered_df.iloc[:, 0:2].isna().any(axis=1)) & filtered_df.iloc[:, 2:3].isna().all(axis=1) & (~filtered_df.iloc[:, 3:4].isna().all(axis=1)) & filtered_df.iloc[:, 4:5].isna().all(axis=1)].agg('sum'),
                        filtered_df[filtered_df.iloc[:, 0:2].isna().all(axis=1) & (~filtered_df.iloc[:, 2:4].isna().any(axis=1)) & filtered_df.iloc[:, 4:5].isna().all(axis=1)].agg('sum'),
                        filtered_df[(~filtered_df.iloc[:, 0:1].isna().all(axis=1)) & filtered_df.iloc[:, 1:3].isna().all(axis=1) & (~filtered_df.iloc[:, 3:4].isna().all(axis=1)) & filtered_df.iloc[:, 4:5].isna().all(axis=1)].agg('sum'),
                        filtered_df[filtered_df.iloc[:, 0:1].isna().all(axis=1) & (~filtered_df.iloc[:, 1:2].isna().all(axis=1)) & filtered_df.iloc[:, 2:3].isna().all(axis=1) & (~filtered_df.iloc[:, 3:4].isna().all(axis=1)) & filtered_df.iloc[:, 4:5].isna().all(axis=1)].agg('sum')
                       ]
    res = pd.DataFrame(filtered_df_1_16, index=[segments["Нерегулярные"][i] for i in range(len(filtered_df_1_16))]).assign(total=lambda x: x[date_range[0]] + x[date_range[1]] + x[date_range[2]] + x[date_range[3]] + x[date_range[4]])    
    return res

def filter_leaving_clients(filtered_df):
    filtered_df_3 = [filtered_df[(~filtered_df.iloc[:, 0:3].isna().any(axis=1)) & filtered_df.iloc[:, 3:5].isna().all(axis=1)].agg('sum'),
                     filtered_df[(~filtered_df.iloc[:, 0:1].isna().any(axis=1)) & filtered_df.iloc[:, 1:2].isna().all(axis=1) & (~filtered_df.iloc[:, 2:3].isna().any(axis=1)) & filtered_df.iloc[:, 3:5].isna().all(axis=1)].agg('sum'),
                     filtered_df[filtered_df.iloc[:, 0:1].isna().all(axis=1) & (~filtered_df.iloc[:, 1:3].isna().any(axis=1)) & filtered_df.iloc[:, 3:5].isna().all(axis=1)].agg('sum')]
    res = pd.DataFrame(filtered_df_3, index=[segments["Уходящие"][i] for i in range(len(filtered_df_3))]).assign(total=lambda x: x[date_range[0]] + x[date_range[1]] + x[date_range[2]] + x[date_range[3]] + x[date_range[4]])    
    return res

def filter_once_clients(filtered_df):
    filtered_df_2 = [filtered_df[filtered_df.iloc[:, 0:3].isna().all(axis=1) & (~filtered_df.iloc[:, 3:4].isna().any(axis=1)) & filtered_df.iloc[:, 4:5].isna().all(axis=1)].agg('sum'),
                     filtered_df[filtered_df.iloc[:, 0:2].isna().all(axis=1) & (~filtered_df.iloc[:, 2:3].isna().any(axis=1)) & filtered_df.iloc[:, 3:5].isna().all(axis=1)].agg('sum')]
    res = pd.DataFrame(filtered_df_2, index=[segments["Разовые"][i] for i in range(len(filtered_df_2))]).assign(total=lambda x: x[date_range[0]] + x[date_range[1]] + x[date_range[2]] + x[date_range[3]] + x[date_range[4]])    
    return res

def filter_outflow_clients(filtered_df):
    filtered_df_2 = [filtered_df[(~filtered_df.iloc[:, 0:2].isna().any(axis=1)) & filtered_df.iloc[:, 2:5].isna().all(axis=1)].agg('sum'),
                     filtered_df[filtered_df.iloc[:, 0:1].isna().all(axis=1) & (~filtered_df.iloc[:, 1:2].isna().any(axis=1)) & filtered_df.iloc[:, 2:5].isna().all(axis=1)].agg('sum')]
    res = pd.DataFrame(filtered_df_2, index=[segments["Отток"][i] for i in range(len(filtered_df_2))]).assign(total=lambda x: x[date_range[0]] + x[date_range[1]] + x[date_range[2]] + x[date_range[3]] + x[date_range[4]])    
    return res

def filter_losted_clients(filtered_df):
    filtered_df_1 = [filtered_df[(~filtered_df.iloc[:, 0:1].isna().any(axis=1)) & filtered_df.iloc[:, 1:5].isna().all(axis=1)].agg('sum')]
    res = pd.DataFrame(filtered_df_1, index=[segments["Потерянные"][0]]).assign(total=lambda x: x[date_range[0]] + x[date_range[1]] + x[date_range[2]] + x[date_range[3]] + x[date_range[4]])    
    return res

def filter_inactive_clients(filtered_df):
    filtered_df_1 = [filtered_df[filtered_df.iloc[:, 0:5].isna().all(axis=1)].agg('sum')]
    res = pd.DataFrame(filtered_df_1, index=[segments["Неактивные"][0]]).assign(total=lambda x: x[date_range[0]] + x[date_range[1]] + x[date_range[2]] + x[date_range[3]] + x[date_range[4]])    
    return res

def filter_new_returned_clients(filtered_df):
    filtered_df_1 = [filtered_df[filtered_df.iloc[:, 0:4].isna().all(axis=1) & (~filtered_df.iloc[:, 4:5].isna().any(axis=1))].agg('sum')]
    res = pd.DataFrame(filtered_df_1, index=[segments["Новые/возвращенные"][0]]).assign(total=lambda x: x[date_range[0]] + x[date_range[1]] + x[date_range[2]] + x[date_range[3]] + x[date_range[4]])    
    return res    

df = pd.read_excel('data.xlsb', sheet_name='data', engine='pyxlsb')
df['date'] = (pd.to_datetime("1899-12-30 00:00:00", yearfirst=True)+pd.to_timedelta(df["yyyy_mm"], unit="D"))

dates = {'01 2022': ['2022-01-01', '2022-01-01'], '02 2022': ['2022-01-01', '2022-02-01'], '03 2022': ['2022-01-01', '2022-03-01'], 
         '04 2022': ['2022-01-01', '2022-04-01'], '05 2022': ['2022-01-01', '2022-05-01'], '06 2022': ['2022-02-01', '2022-06-01'],
         '07 2022': ['2022-03-01', '2022-07-01'], '08 2022': ['2022-04-01', '2022-08-01'], '09 2022': ['2022-05-01', '2022-09-01'], 
         '10 2022': ['2022-06-01', '2022-10-01'], '11 2022': ['2022-07-01', '2022-11-01'], '12 2022': ['2022-08-01', '2022-12-01'],
         '01 2023': ['2022-09-01', '2023-01-01'], '02 2023': ['2022-10-01', '2023-02-01'], '03 2023': ['2022-11-01', '2023-03-01'], 
         '04 2023': ['2022-12-01', '2023-04-01'], '05 2023': ['2023-01-01', '2023-05-01'], '06 2023': ['2023-02-01', '2023-06-01'],
         '07 2023': ['2023-03-01', '2023-07-01'], '08 2023': ['2023-04-01', '2023-08-01'], '09 2023': ['2023-05-01', '2023-09-01'], 
         '10 2023': ['2023-06-01', '2023-10-01'], '11 2023': ['2023-07-01', '2023-11-01'], '12 2023': ['2023-08-01', '2023-12-01'], 
         '01 2024': ['2023-09-01', '2024-01-01'], '02 2024': ['2023-10-01', '2024-02-01'], '03 2024': ['2023-11-01', '2024-03-01']}
segments = {"Постоянные": ['XXXXX', 'OXXXX', 'XOXXX', 'XXOXX', 'XXXOX'], 
            "Уходящие постоянные": ['XXXXO'],
            "Нерегулярные": ['OOXXX', 'OXOXX', 'OXXOX', 'XOXOX', 'XXOOX', 'OOOXX', 'XOOOX', 'OXOOX', 'OOXOX', 'XOOXX', 'OXXXO',
                             'XOXXO', 'XXOXO', 'OOXXO', 'XOOXO', 'OXOXO'],
            "Уходящие": ['XXXOO', 'XOXOO', 'OXXOO'],
            "Разовые": ['OOOXO', 'OOXOO'],
            "Отток": ['XXOOO', 'OXOOO'],
            "Потерянные": ['XOOOO'],
            "Новые/возвращенные": ['OOOOX'],
            "Неактивные": ['OOOOO']}

request = input()
try:
    start_period = dates[request][0]
    end_period = dates[request][1]
except KeyError:
    print("Данные за этот расчетный период отсутствуют")
date_range = pd.date_range(start=start_period, end=end_period, freq="MS")
df_period = df[df['date'].isin(date_range)]
filtered_df = df_period.pivot_table(columns='date', index='id_клиента', values='Объем')

 05 2022

In [27]:
print(f'Отчетный месяц: {end_period[:-3]}\nГруппа: Постоянные')
filter_const_clients(filtered_df)

Отчетный месяц: 2022-05
Группа: Постоянные

date,2022-01-01 00:00:00,2022-02-01 00:00:00,2022-03-01 00:00:00,2022-04-01 00:00:00,2022-05-01 00:00:00,total
XXXXX,48581.09,58130.01,70731.16,60763.60,50762.45,288968.31
OXXXX,0.00,1437.86,1960.58,1924.40,1586.86,6909.70
XOXXX,496.46,0.00,524.34,538.98,476.71,2036.49
XXOXX,368.20,351.47,0.00,311.46,341.44,1372.57
XXXOX,455.24,504.68,532.40,0.00,367.69,1860.01

In [28]:
print(f'Отчетный месяц: {end_period[:-3]}\nГруппа: Уходящие постоянные')
filter_leaving_const_clients(filtered_df)

Отчетный месяц: 2022-05
Группа: Уходящие постоянные

date,2022-01-01 00:00:00,2022-02-01 00:00:00,2022-03-01 00:00:00,2022-04-01 00:00:00,2022-05-01 00:00:00,total
XXXXO,1038.88,1189.18,1225.98,881.64,0.0,4335.68

In [29]:
print(f'Отчетный месяц: {end_period[:-3]}\nГруппа: Нерегулярные')
filter_irregular_clients(filtered_df)

Отчетный месяц: 2022-05
Группа: Нерегулярные

date,2022-01-01 00:00:00,2022-02-01 00:00:00,2022-03-01 00:00:00,2022-04-01 00:00:00,2022-05-01 00:00:00,total
OOXXX,0.00,0.00,809.85,1003.88,1075.64,2889.37
OXOXX,0.00,211.74,0.00,278.04,263.38,753.16
OXXOX,0.00,243.22,299.46,0.00,230.24,772.92
XOXOX,198.94,0.00,189.18,0.00,185.51,573.63
XXOOX,130.97,174.99,0.00,0.00,136.19,442.15
OOOXX,0.00,0.00,0.00,795.90,904.43,1700.33
XOOOX,177.39,0.00,0.00,0.00,193.56,370.95
OXOOX,0.00,289.75,0.00,0.00,270.05,559.80
OOXOX,0.00,0.00,425.63,0.00,413.52,839.15
XOOXX,144.39,0.00,0.00,203.21,177.35,524.95
OXXXO,0.00,495.47,682.25,409.60,0.00,1587.32
XOXXO,278.38,0.00,307.53,294.87,0.00,880.78
XXOXO,230.33,207.40,0.00,216.58,0.00,654.31
OOXXO,0.00,0.00,618.10,621.47,0.00,1239.57
XOOXO,234.16,0.00,0.00,247.90,0.00,482.06
OXOXO,0.00,392.73,0.00,389.59,0.00,782.32

In [30]:
print(f'Отчетный месяц: {end_period[:-3]}\nГруппа: Уходящие')
filter_leaving_clients(filtered_df)

Отчетный месяц: 2022-05
Группа: Уходящие

date,2022-01-01 00:00:00,2022-02-01 00:00:00,2022-03-01 00:00:00,2022-04-01 00:00:00,2022-05-01 00:00:00,total
XXXOO,628.89,661.36,553.12,0.0,0.0,1843.37
XOXOO,403.58,0.00,430.98,0.0,0.0,834.56
OXXOO,0.00,560.21,516.76,0.0,0.0,1076.97

In [31]:
print(f'Отчетный месяц: {end_period[:-3]}\nГруппа: Разовые')
filter_once_clients(filtered_df)

Отчетный месяц: 2022-05
Группа: Разовые

date,2022-01-01 00:00:00,2022-02-01 00:00:00,2022-03-01 00:00:00,2022-04-01 00:00:00,2022-05-01 00:00:00,total
OOOXO,0.0,0.0,0.00,1986.81,0.0,1986.81
OOXOO,0.0,0.0,2444.68,0.00,0.0,2444.68

In [32]:
print(f'Отчетный месяц: {end_period[:-3]}\nГруппа: Отток')
filter_outflow_clients(filtered_df)

Отчетный месяц: 2022-05
Группа: Отток

date,2022-01-01 00:00:00,2022-02-01 00:00:00,2022-03-01 00:00:00,2022-04-01 00:00:00,2022-05-01 00:00:00,total
XXOOO,806.28,642.14,0.0,0.0,0.0,1448.42
OXOOO,0.00,1921.80,0.0,0.0,0.0,1921.80

In [33]:
print(f'Отчетный месяц: {end_period[:-3]}\nГруппа: Потерянные')
filter_losted_clients(filtered_df)

Отчетный месяц: 2022-05
Группа: Потерянные

date,2022-01-01 00:00:00,2022-02-01 00:00:00,2022-03-01 00:00:00,2022-04-01 00:00:00,2022-05-01 00:00:00,total
XOOOO,1712.96,0.0,0.0,0.0,0.0,1712.96

In [34]:
print(f'Отчетный месяц: {end_period[:-3]}\nГруппа: Неактивные')
filter_inactive_clients(filtered_df)

Отчетный месяц: 2022-05
Группа: Неактивные

date,2022-01-01 00:00:00,2022-02-01 00:00:00,2022-03-01 00:00:00,2022-04-01 00:00:00,2022-05-01 00:00:00,total
OOOOO,0.0,0.0,0.0,0.0,0.0,0.0

In [35]:
print(f'Отчетный месяц: {end_period[:-3]}\nГруппа: Новые/возвращенные')
filter_new_returned_clients(filtered_df)

Отчетный месяц: 2022-05
Группа: Новые/возвращенные

date,2022-01-01 00:00:00,2022-02-01 00:00:00,2022-03-01 00:00:00,2022-04-01 00:00:00,2022-05-01 00:00:00,total
OOOOX,0.0,0.0,0.0,0.0,1832.89,1832.89