In [38]:
import pandas as pd
import matplotlib.pyplot as plt


def filter_const_clients(filtered_df):
    filtered_df_1_5 = [filtered_df[(~filtered_df.iloc[:, 0:5].isna().any(axis=1))].agg('sum'),
                      filtered_df[filtered_df.iloc[:, 0:1].isna().all(axis=1) & (~filtered_df.iloc[:, 1:5].isna().any(axis=1))].agg('sum'),
                      filtered_df[(~filtered_df.iloc[:, 0:1].isna().any(axis=1)) & filtered_df.iloc[:, 1:2].isna().all(axis=1) & (~filtered_df.iloc[:, 2:5].isna().any(axis=1))].agg('sum'),
                      filtered_df[(~filtered_df.iloc[:, 0:2].isna().any(axis=1)) & filtered_df.iloc[:, 2:3].isna().all(axis=1) & (~filtered_df.iloc[:, 3:5].isna().any(axis=1))].agg('sum'),
                      filtered_df[(~filtered_df.iloc[:, 0:3].isna().any(axis=1)) & filtered_df.iloc[:, 3:4].isna().all(axis=1) & (~filtered_df.iloc[:, 4:5].isna().any(axis=1))].agg('sum')]
    res = pd.DataFrame(filtered_df_1_5, index=[segments["Постоянные"][i] for i in range(5)]).assign(total=lambda x: x[date_range[0]] + x[date_range[1]] + x[date_range[2]] + x[date_range[3]] + x[date_range[4]])    
    return res

def filter_leaving_const_clients(filtered_df):
    filtered_df_1 = [filtered_df[(~filtered_df.iloc[:, 0:4].isna().any(axis=1)) & filtered_df.iloc[:, 4:5].isna().all(axis=1)].agg('sum')]
    res = pd.DataFrame(filtered_df_1, index=[segments["Уходящие постоянные"][0]]).assign(total=lambda x: x[date_range[0]] + x[date_range[1]] + x[date_range[2]] + x[date_range[3]] + x[date_range[4]])
    return res
    
def filter_irregular_clients(filtered_df):
    filtered_df_1_16 = [filtered_df[filtered_df.iloc[:, 0:2].isna().all(axis=1) & (~filtered_df.iloc[:, 2:5].isna().any(axis=1))].agg('sum'),
                        filtered_df[filtered_df.iloc[:, 0:1].isna().all(axis=1) & (~filtered_df.iloc[:, 1:2].isna().any(axis=1)) & filtered_df.iloc[:, 2:3].isna().all(axis=1) & (~filtered_df.iloc[:, 3:5].isna().any(axis=1))].agg('sum'),
                        filtered_df[filtered_df.iloc[:, 0:1].isna().all(axis=1) & (~filtered_df.iloc[:, 1:3].isna().any(axis=1)) & filtered_df.iloc[:, 3:4].isna().all(axis=1) & (~filtered_df.iloc[:, 4:5].isna().any(axis=1))].agg('sum'),
                        filtered_df[(~filtered_df.iloc[:, 0:1].isna().any(axis=1)) & filtered_df.iloc[:, 1:2].isna().all(axis=1) & (~filtered_df.iloc[:, 2:3].isna().any(axis=1)) & filtered_df.iloc[:, 3:4].isna().all(axis=1) & (~filtered_df.iloc[:, 4:5].isna().any(axis=1))].agg('sum'),
                        filtered_df[(~filtered_df.iloc[:, 0:2].isna().any(axis=1)) & filtered_df.iloc[:, 2:4].isna().all(axis=1) & (~filtered_df.iloc[:, 4:5].isna().any(axis=1))].agg('sum'),
                        filtered_df[filtered_df.iloc[:, 0:3].isna().all(axis=1) & (~filtered_df.iloc[:, 3:5].isna().any(axis=1))].agg('sum'),
                        filtered_df[(~filtered_df.iloc[:, 0:1].isna().any(axis=1)) & filtered_df.iloc[:, 1:4].isna().all(axis=1) & (~filtered_df.iloc[:, 4:5].isna().any(axis=1))].agg('sum'),
                        filtered_df[filtered_df.iloc[:, 0:1].isna().all(axis=1) & (~filtered_df.iloc[:, 1:2].isna().any(axis=1)) & filtered_df.iloc[:, 2:4].isna().all(axis=1) & (~filtered_df.iloc[:, 4:5].isna().any(axis=1))].agg('sum'),
                        filtered_df[filtered_df.iloc[:, 0:2].isna().all(axis=1) & (~filtered_df.iloc[:, 2:3].isna().any(axis=1)) & filtered_df.iloc[:, 3:4].isna().all(axis=1) & (~filtered_df.iloc[:, 4:5].isna().any(axis=1))].agg('sum'),
                        filtered_df[(~filtered_df.iloc[:, 0:1].isna().any(axis=1)) & filtered_df.iloc[:, 1:3].isna().all(axis=1) & (~filtered_df.iloc[:, 3:5].isna().any(axis=1))].agg('sum'),
                        filtered_df[filtered_df.iloc[:, 0:1].isna().all(axis=1) & (~filtered_df.iloc[:, 1:4].isna().any(axis=1)) & filtered_df.iloc[:, 4:5].isna().all(axis=1)].agg('sum'),
                        filtered_df[(~filtered_df.iloc[:, 0:1].isna().any(axis=1)) & filtered_df.iloc[:, 1:2].isna().all(axis=1) & (~filtered_df.iloc[:, 2:4].isna().any(axis=1)) & filtered_df.iloc[:, 4:5].isna().all(axis=1)].agg('sum'),
                        filtered_df[(~filtered_df.iloc[:, 0:2].isna().any(axis=1)) & filtered_df.iloc[:, 2:3].isna().all(axis=1) & (~filtered_df.iloc[:, 3:4].isna().any(axis=1)) & filtered_df.iloc[:, 4:5].isna().all(axis=1)].agg('sum'),
                        filtered_df[filtered_df.iloc[:, 0:2].isna().all(axis=1) & (~filtered_df.iloc[:, 2:4].isna().any(axis=1)) & filtered_df.iloc[:, 4:5].isna().all(axis=1)].agg('sum'),
                        filtered_df[(~filtered_df.iloc[:, 0:1].isna().any(axis=1)) & filtered_df.iloc[:, 1:3].isna().all(axis=1) & (~filtered_df.iloc[:, 3:4].isna().any(axis=1)) & filtered_df.iloc[:, 4:5].isna().all(axis=1)].agg('sum'),
                        filtered_df[filtered_df.iloc[:, 0:1].isna().all(axis=1) & (~filtered_df.iloc[:, 1:2].isna().any(axis=1)) & filtered_df.iloc[:, 2:3].isna().all(axis=1) & (~filtered_df.iloc[:, 3:4].isna().any(axis=1)) & filtered_df.iloc[:, 4:5].isna().all(axis=1)].agg('sum')
                       ]
    res = pd.DataFrame(filtered_df_1_16, index=[segments["Нерегулярные"][i] for i in range(len(filtered_df_1_16))]).assign(total=lambda x: x[date_range[0]] + x[date_range[1]] + x[date_range[2]] + x[date_range[3]] + x[date_range[4]])    
    return res

def filter_leaving_clients(filtered_df):
    filtered_df_3 = [filtered_df[(~filtered_df.iloc[:, 0:3].isna().any(axis=1)) & filtered_df.iloc[:, 3:5].isna().all(axis=1)].agg('sum'),
                     filtered_df[(~filtered_df.iloc[:, 0:1].isna().any(axis=1)) & filtered_df.iloc[:, 1:2].isna().all(axis=1) & (~filtered_df.iloc[:, 2:3].isna().any(axis=1)) & filtered_df.iloc[:, 3:5].isna().all(axis=1)].agg('sum'),
                     filtered_df[filtered_df.iloc[:, 0:1].isna().all(axis=1) & (~filtered_df.iloc[:, 1:3].isna().any(axis=1)) & filtered_df.iloc[:, 3:5].isna().all(axis=1)].agg('sum')]
    res = pd.DataFrame(filtered_df_3, index=[segments["Уходящие"][i] for i in range(len(filtered_df_3))]).assign(total=lambda x: x[date_range[0]] + x[date_range[1]] + x[date_range[2]] + x[date_range[3]] + x[date_range[4]])    
    return res

def filter_once_clients(filtered_df):
    filtered_df_2 = [filtered_df[filtered_df.iloc[:, 0:3].isna().all(axis=1) & (~filtered_df.iloc[:, 3:4].isna().any(axis=1)) & filtered_df.iloc[:, 4:5].isna().all(axis=1)].agg('sum'),
                     filtered_df[filtered_df.iloc[:, 0:2].isna().all(axis=1) & (~filtered_df.iloc[:, 2:3].isna().any(axis=1)) & filtered_df.iloc[:, 3:5].isna().all(axis=1)].agg('sum')]
    res = pd.DataFrame(filtered_df_2, index=[segments["Разовые"][i] for i in range(len(filtered_df_2))]).assign(total=lambda x: x[date_range[0]] + x[date_range[1]] + x[date_range[2]] + x[date_range[3]] + x[date_range[4]])    
    return res

def filter_outflow_clients(filtered_df):
    filtered_df_2 = [filtered_df[filtered_df[(~filtered_df.iloc[:, 0:2].isna().any(axis=1)) & filtered_df.iloc[:, 2:5].isna().all(axis=1)].agg('sum'),
                     filtered_df[filtered_df.iloc[:, 0:1].isna().all(axis=1) & (~filtered_df.iloc[:, 1:2].isna().any(axis=1)) & filtered_df.iloc[:, 2:5].isna().all(axis=1)].agg('sum')]
    res = pd.DataFrame(filtered_df_2, index=[segments["Отток"][i] for i in range(len(filtered_df_2))]).assign(total=lambda x: x[date_range[0]] + x[date_range[1]] + x[date_range[2]] + x[date_range[3]] + x[date_range[4]])    
    return res

def filter_losted_clients(filtered_df):
    filtered_df_1 = [filtered_df[(~filtered_df.iloc[:, 0:1].isna().any(axis=1)) & filtered_df.iloc[:, 1:5].isna().all(axis=1)].agg('sum')]
    res = pd.DataFrame(filtered_df_1, index=[segments["Потерянные"][0]]).assign(total=lambda x: x[date_range[0]] + x[date_range[1]] + x[date_range[2]] + x[date_range[3]] + x[date_range[4]])    
    return res

def filter_inactive_clients(filtered_df):
    filtered_df_1 = [filtered_df[filtered_df.iloc[:, 0:5].isna().all(axis=1)].agg('sum')]
    res = pd.DataFrame(filtered_df_1, index=[segments["Неактивные"][0]]).assign(total=lambda x: x[date_range[0]] + x[date_range[1]] + x[date_range[2]] + x[date_range[3]] + x[date_range[4]])    
    return res

def filter_new_returned_clients(filtered_df):
    filtered_df_1 = [filtered_df[filtered_df.iloc[:, 0:4].isna().all(axis=1) & (~filtered_df.iloc[:, 4:5].isna().any(axis=1))].agg('sum')]
    res = pd.DataFrame(filtered_df_1, index=[segments["Новые/возвращенные"][0]]).assign(total=lambda x: x[date_range[0]] + x[date_range[1]] + x[date_range[2]] + x[date_range[3]] + x[date_range[4]])    
    return res    

df = pd.read_excel('data.xlsb', sheet_name='data', engine='pyxlsb')
df['date'] = (pd.to_datetime("1899-12-30 00:00:00", yearfirst=True)+pd.to_timedelta(df["yyyy_mm"], unit="D"))

dates = {'01 2022': ['2022-01-01', '2022-01-01'], '02 2022': ['2022-01-01', '2022-02-01'], '03 2022': ['2022-01-01', '2022-03-01'], 
         '04 2022': ['2022-01-01', '2022-04-01'], '05 2022': ['2022-01-01', '2022-05-01'], '06 2022': ['2022-02-01', '2022-06-01'],
         '07 2022': ['2022-03-01', '2022-07-01'], '08 2022': ['2022-04-01', '2022-08-01'], '09 2022': ['2022-05-01', '2022-09-01'], 
         '10 2022': ['2022-06-01', '2022-10-01'], '11 2022': ['2022-07-01', '2022-11-01'], '12 2022': ['2022-08-01', '2022-12-01'],
         '01 2023': ['2022-09-01', '2023-01-01'], '02 2023': ['2022-10-01', '2023-02-01'], '03 2023': ['2022-11-01', '2023-03-01'], 
         '04 2023': ['2022-12-01', '2023-04-01'], '05 2023': ['2023-01-01', '2023-05-01'], '06 2023': ['2023-02-01', '2023-06-01'],
         '07 2023': ['2023-03-01', '2023-07-01'], '08 2023': ['2023-04-01', '2023-08-01'], '09 2023': ['2023-05-01', '2023-09-01'], 
         '10 2023': ['2023-06-01', '2023-10-01'], '11 2023': ['2023-07-01', '2023-11-01'], '12 2023': ['2023-08-01', '2023-12-01'], 
         '01 2024': ['2023-09-01', '2024-01-01'], '02 2024': ['2023-10-01', '2024-02-01'], '03 2024': ['2023-11-01', '2024-03-01']}
segments = {"Постоянные": ['XXXXX', 'OXXXX', 'XOXXX', 'XXOXX', 'XXXOX'], 
            "Уходящие постоянные": ['XXXXO'],
            "Нерегулярные": ['OOXXX', 'OXOXX', 'OXXOX', 'XOXOX', 'XXOOX', 'OOOXX', 'XOOOX', 'OXOOX', 'OOXOX', 'XOOXX', 'OXXXO',
                             'XOXXO', 'XXOXO', 'OOXXO', 'XOOXO', 'OXOXO'],
            "Уходящие": ['XXXOO', 'XOXOO', 'OXXOO'],
            "Разовые": ['OOOXO', 'OOXOO'],
            "Отток": ['XXOOO', 'OXOOO'],
            "Потерянные": ['XOOOO'],
            "Новые/возвращенные": ['OOOOX'],
            "Неактивные": ['OOOOO']}

request = input()
try:
    start_period = dates[request][0]
    end_period = dates[request][1]
except KeyError:
    print("Данные за этот расчетный период отсутствуют")
date_range = pd.date_range(start=start_period, end=end_period, freq="MS")
df_period = df[df['date'].isin(date_range)]
filtered_df = df_period.pivot_table(columns='date', index='id_клиента', values='Объем')

SyntaxError: '[' was never closed (2304876652.py, line 54)

In [8]:
print(f'Отчетный месяц: {end_period[:-3]}\nГруппа: Постоянные')
filter_const_clients(filtered_df)

Отчетный месяц: 2023-12
Группа: Постоянные

date,2023-08-01 00:00:00,2023-09-01 00:00:00,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00,total
XXXXX,80737.79,76284.95,79848.73,76810.42,67673.20,381355.09
OXXXX,0.00,859.84,985.22,1112.63,997.83,3955.52
XOXXX,564.64,0.00,581.21,672.43,796.40,2614.68
XXOXX,573.78,513.25,0.00,567.30,579.49,2233.82
XXXOX,610.85,586.59,515.33,0.00,459.03,2171.80

In [9]:
print(f'Отчетный месяц: {end_period[:-3]}\nГруппа: Уходящие постоянные')
filter_leaving_const_clients(filtered_df)

Отчетный месяц: 2023-12
Группа: Уходящие постоянные

date,2023-08-01 00:00:00,2023-09-01 00:00:00,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00,total
XXXXO,1490.92,1407.35,1180.28,870.3,0.0,4948.85

In [10]:
print(f'Отчетный месяц: {end_period[:-3]}\nГруппа: Нерегулярные')
filter_irregular_clients(filtered_df)

Отчетный месяц: 2023-12
Группа: Нерегулярные

date,2023-08-01 00:00:00,2023-09-01 00:00:00,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00,total
OOXXX,0.00,0.00,1193.71,1558.05,1399.23,4150.99
OXOXX,0.00,278.64,0.00,340.15,335.70,954.49
OXXOX,0.00,196.57,186.29,0.00,190.96,573.82
XOXOX,231.96,0.00,202.91,0.00,226.56,661.43
XXOOX,329.04,0.00,0.00,0.00,298.36,627.40
OOOXX,0.00,0.00,0.00,771.54,916.92,1688.46
XOOOX,329.04,0.00,0.00,0.00,298.36,627.40
OXOOX,0.00,284.93,0.00,0.00,288.21,573.14
OOXOX,0.00,0.00,371.50,0.00,345.41,716.91
XOOXX,195.00,0.00,0.00,204.87,200.04,599.91
OXXXO,0.00,307.20,433.60,298.44,0.00,1039.24
XOXXO,327.61,0.00,277.92,298.91,0.00,904.44
XXOXO,655.52,296.74,0.00,578.42,0.00,1530.68
OOXXO,0.00,0.00,452.21,444.24,0.00,896.45
XOOXO,348.03,0.00,0.00,292.01,0.00,640.04
OXOXO,0.00,327.42,0.00,325.00,0.00,652.42

In [11]:
print(f'Отчетный месяц: {end_period[:-3]}\nГруппа: Уходящие')
filter_leaving_clients(filtered_df)

Отчетный месяц: 2023-12
Группа: Уходящие

date,2023-08-01 00:00:00,2023-09-01 00:00:00,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00,total
XXXOO,4164.40,1139.48,919.29,0.0,0.0,6223.17
XOXOO,524.39,0.00,457.23,0.0,0.0,981.62
OXXOO,0.00,427.20,402.53,0.0,0.0,829.73

In [12]:
print(f'Отчетный месяц: {end_period[:-3]}\nГруппа: Разовые')
filter_once_clients(filtered_df)

Отчетный месяц: 2023-12
Группа: Разовые

date,2023-08-01 00:00:00,2023-09-01 00:00:00,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00,total
OOOXO,0.0,0.0,0.00,2034.87,0.0,2034.87
OOXOO,0.0,0.0,2045.47,0.00,0.0,2045.47

In [13]:
print(f'Отчетный месяц: {end_period[:-3]}\nГруппа: Отток')
filter_outflow_clients(filtered_df)

Отчетный месяц: 2023-12
Группа: Отток

date,2023-08-01 00:00:00,2023-09-01 00:00:00,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00,total
XXOOO,2948.48,584.72,0.0,0.0,0.0,3533.20
OXOOO,0.00,2173.24,0.0,0.0,0.0,2173.24

In [14]:
print(f'Отчетный месяц: {end_period[:-3]}\nГруппа: Потерянные')
filter_losted_clients(filtered_df)

Отчетный месяц: 2023-12
Группа: Потерянные

date,2023-08-01 00:00:00,2023-09-01 00:00:00,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00,total
XOOOO,2243.6,0.0,0.0,0.0,0.0,2243.6

In [15]:
print(f'Отчетный месяц: {end_period[:-3]}\nГруппа: Неактивные')
filter_inactive_clients(filtered_df)

Отчетный месяц: 2023-12
Группа: Неактивные

date,2023-08-01 00:00:00,2023-09-01 00:00:00,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00,total
OOOOO,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
print(f'Отчетный месяц: {end_period[:-3]}\nГруппа: Новые/возвращенные')
filter_new_returned_clients(filtered_df)

Отчетный месяц: 2023-12
Группа: Новые/возвращенные

date,2023-08-01 00:00:00,2023-09-01 00:00:00,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00,total
OOOOX,0.0,0.0,0.0,0.0,2210.45,2210.45